<div id="sys-charts">
    <h1>{{ 'DASHBOARD'|t }}</h1>
    <br />
    <br />
    <!-- MEMORY CHART START -->
    <div style="display: flex;margin-bottom:60px;">
        <div style="width: 50%;text-align:center">
            <h3>{{ 'CPU usage'|t }}</h3>
            <canvas id="cpu-chart"></canvas>
        </div>
        <div style="width: 50%;text-align:center">
            <h3>{{ 'Disk usage'|t }}</h3>
            <canvas id="disk-chart"></canvas>
        </div>
    </div>
    <div style="width: 50%;text-align:center;">
        <h3>{{ 'Memory usage'|t }}</h3>
        <canvas id="memory-chart"></canvas>
    </div>
    <!-- MEMORY CHART END -->
    <br />
    <hr />
    <br />
    <!-- TABLES SIZES CHART START -->
    <div style="display: flex">
        <div style="min-width: 100%;">
            <h3>{% trans %}Size of database tables -  Total : {{ size.size }}{% endtrans %}</h3>
            <canvas id="db-usage-chart" class="col-md-12"></canvas>
        </div>
    </div>
    <!-- TABLES SIZES CHART END -->
</div>
